<!DOCTYPE html>
<html>
  <head>
    <title>Redmonds Barbershop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div class="container">
  		

	    <%= yield %>
	    <footer id="footer">
	      <p>&copy 2017 Redmond's Barbershop 159 East 800 South, Salt Lake City, UT 84111</p>
	    </footer>
    </div>

  </body>
</html>
